<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


    <body class="container">
        <h1 th:text="${title}">Default Title</h1>
        <h1 th:text="${menu.name}"></h1>
        <head th:replace="fragments :: head"></head>

        <p th:unless="${menu.cheeses} and ${menu.cheeses.size()}">no cheeses yet :(</p>
        <ul>

            <li th:each="cheese: ${menu.cheeses}" th:text="${cheese.getName()}"></li>
        </ul>

        <p><a th:href="'/menu/add-item/' + ${menuId}">Add Cheese</a></p>

    </body>
</html>

